body{
    width: 50%;
    margin: auto;
}
#board{
    display: flex;

}
.column{
    display: flex;
    flex-direction: column;
    background-color: blue;
}

.column div:first-child{
    border-radius: 0;
}
.case{
    border: 1px solid blue;
    background-color: white;
    border-radius: 50%;
    width: 5em;
    height: 5em;
}
.truc{
    border: 1px solid blue;
    background-color: lightgrey;
    border-radius: 50%;
    width: 5em;
    height: 5em;
}
table {
    border: 2px solid black;
}
.red {
    border: 1px solid blue;
    background-color: red;
    border-radius: 50%;
    width: 5em;
    height: 5em;
}
.yellow {
    border: 2px solid yellow;
    background-color: yellow;
    border-radius: 50%;
    width: 5em;
    height: 5em;

}
